@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}

img{
	border:none;
	}
body{
	background:#F8F8F8;
	font:12px "Roboto", Arial, Verdana;
	color:#666;
	}
h2{
	margin-bottom:10px;
	padding-bottom:5px;
	color:#3696da;
	font-family: 'Roboto', Arial, serif;
	font-weight:300;
	font-size:28px;
	text-transform:uppercase;
	border-bottom: 4px solid #b4cfe5;

}
h4{
	color:#333;
	font-family: 'Roboto', Arial, serif;
	font-weight:300;
	font-size:16px;

}
h3{
	color:#333;
	font-family: 'Roboto', Arial, serif;
	font-weight:400;
	font-size:16px;

}
.campanhas_front a
{
    text-decoration:none;
    color:#666666;
}
.campanhas_front h3
{
    font-size:18px;
    }
#saudacao{
	background:#1E53A3;
	color:#fff;
	height:27px;
}
#saudacao #saudacao_cont{
	width:940px;
	margin:0 auto;
}
#saudacao #saudacao_cont #welcome{
	width:500px;
	float:left;
	padding:6px 0 0 0;
}
#saudacao #saudacao_cont #contact{
	width:80px;
	float:right;
	margin:0 10px;
}
#saudacao #saudacao_cont #contact a{
	color:#FFF;
	text-decoration:none;
	padding:5px 0;
	display:block;
}

#saudacao #saudacao_cont #language{
	width:50px;
	float:right;
}
#saudacao #saudacao_cont #language a{
	color:#FFF;
	text-decoration:none;
	padding:5px 0;
	display:block;
}
/*fim saudação*/

#topo{
	height:80px;
	width:940px;
	margin:0 auto;
	clear:both;
}
#topo h1{
	width:152px;
	height:100px;
	float:left;
	margin:10px 0;
}
#menuApoio{
	width:410px;
	margin-top:25px;
	height:35px;
	float:right;
}
#search{
	width:250px;
	height:30px;
	margin-right:20px;
	float:left;
}
#btnSearch{
	width:28px;
	height:25px;
	margin:0 20px 0 5px;
	float:left;
}
#socialIcons{
	width:80px;
	float:left;
}
.inputSearch{
	width:250px;
	height:25px;
	padding:0 10px;
	border: 1px solid #d2d2d2;
	font-family: 'Roboto', Arial, serif;
	font-weight:400;
	font-size:12px;
	color:#999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#geral_menu{
	width:auto;
		height:120px;
}
 #menu{
	width:940px;
	height:57px;
	/*float:right;
	clear:both;*/
	margin:0 auto;
}
 #menu ul{
	 width:770px;
}
 #menu ul li{ 
float:left;
list-style:none;
}
 #menu ul li a{ text-decoration:none;}

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }

/* End */
/*
li ul {
	position: absolute;
	left: 149px;
	top: 56px;
	display: none;
}
ul li {
	position: relative;
	}*/
.div_submenu{display:none;}

#menu ul #menu_publicacoes_campanhas{
	width:109px;
	height:56px;
	margin-right:30px;
}
 #menu ul #menu_publicacoes_campanhas a{
	display:block;
	height:45px;
	padding-top:11px;
	color:#006CB7;	
	}
 #menu ul #menu_publicacoes_campanhas a{
	/*background:	#41A618;*/
	color:#FFF;
	}
 #menu ul #menu_publicacoes_campanhas a .line_menu{
	height:3px;
	background:#41A618;
	margin:5px 0;}


 #menu ul #menu_publicacoes_campanhas .div_submenu{
	display:block;
	width:940px;
	height:45px;
	margin:0 0 0 -386px;
	background:#41A618;
	text-align:center;
}
 #menu ul #menu_publicacoes_campanhas:hover .div_submenu ul{
	width:830px;
	text-align:center;
	margin-left:100px;
	height:40px;
}
 #menu ul #menu_publicacoes_campanhas:hover .div_submenu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #menu ul #menu_publicacoes_campanhas:hover .div_submenu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;;
}

 #menu ul #menu_ogrupo{
	width:73px;
	height:56px;
	margin-right:30px;
}
 #menu ul #menu_ogrupo a{
	display:block;
	height:31px;
	padding-top:25px;
	text-align:center;
	color:#006CB7;
}
 #menu ul #menu_ogrupo a:hover{
	background:	#006CB7;
	color:#FFF;
}
 #menu ul #menu_ogrupo a .line_menu{
	height:3px;
	background:#006CB7;
	margin:5px 0;
}
 #menu ul #menu_ogrupo:hover a{
background:#006CB7;
color:#FFF;}


 #menu ul #menu_ogrupo:hover .div_submenu{
	display:block;
	width:940px;
	height:45px;
	margin:0 0 0 -170px;
	background:#006CB7;
	text-align:center;
}
 #sub_menu ul{
	width:940px;
	text-align:center;
	height:40px;
}
 #sub_menu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #sub_menu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;;
}



 #menu ul #menu_unidades{
	width:83px;
	height:56px;
	margin-right:30px;
}
 #menu ul #menu_unidades:hover a{
background:	#006CB7;
color:#FFF;
}
 #menu ul #menu_unidades a{
	display:block;
	height:45px;
	padding-top:11px;
	color:#006CB7;	
}
 #menu ul #menu_unidades a:hover{
	background:	#006CB7;
	color:#FFF;
}
 #menu ul #menu_unidades a .line_menu{
	height:3px;
	background:#006CB7;
	margin:5px 0;
}

 #menu ul #menu_unidades:hover .div_submenu{
	display:block;
/*	position:relative;*/
	width:940px;
	height:45px;
	margin:0 0 0 -273px;
	background:#006CB7;
	text-align:center;
}
 #menu ul #menu_unidades:hover .div_submenu ul{
	width:830px;
	text-align:center;
	margin-left:100px;
	height:40px;
}
#menu ul #menu_unidades:hover .div_submenu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #menu ul #menu_unidades:hover .div_submenu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;
}





 #menu ul #menu_publicacoes_campanhas{
	width:109px;
	height:56px;
	margin-right:30px;
}
 #menu ul #menu_publicacoes_campanhas a{
	display:block;
	height:45px;
	padding-top:11px;
	color:#006CB7;	
	}
 #menu ul #menu_publicacoes_campanhas a{
	/*background:	#41A618;*/
	color:#FFF;
	}
 #menu ul #menu_publicacoes_campanhas a .line_menu{
	height:3px;
	background:#41A618;
	margin:5px 0;}


 #menu ul #menu_publicacoes_campanhas .div_submenu{
	display:block;
	width:940px;
	height:45px;
	margin:0 0 0 -386px;
	background:#41A618;
	text-align:center;
}
 #menu ul #menu_publicacoes_campanhas .div_submenu ul{
	width:830px;
	text-align:center;
	margin-left:100px;
	height:40px;
}
 #menu ul #menu_publicacoes_campanhas .div_submenu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #menu ul #menu_publicacoes_campanhas .div_submenu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;;
}



 #menu ul #menu_iep{
	width:160px;
	height:56px;
	margin-right:30px;
}
 #menu ul #menu_iep a{
	display:block;
	height:45px;
	padding-top:11px;
	color:#006CB7;
	}
 #menu ul #menu_iep:hover a{
	background:	#B89112;
	color:#FFF;
	}
 #menu ul #menu_iep a .line_menu{
	height:3px;
	background:#B89112;
	margin:5px 0;
	}
	
	
 #menu ul #menu_iep:hover .div_submenu{
	display:block;
	width:940px;
	height:45px;
	margin:0 0 0 -525px;
	background:#B89112;
	text-align:center;
}
 #menu ul #menu_iep:hover .div_submenu ul{
	width:830px;
	text-align:center;
	margin-left:100px;
	height:40px;
}
 #menu ul #menu_iep:hover .div_submenu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #menu ul #menu_iep:hover .div_submenu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;;
}


 #menu ul #menu_imprensa{
	width:86px;
	height:56px;
	margin-right:30px;
}
 #menu ul #menu_imprensa a{
	display:block;
	height:45px;
	padding-top:11px;
	color:#006CB7;
}
 #menu ul #menu_imprensa:hover a{
	background:#8C53A0;
	color:#FFF;
	}
 #menu ul #menu_imprensa a .line_menu{
	height:3px;
	background:#8C53A0;
	margin:5px 0;
	}
 #menu ul #menu_imprensa:hover .div_submenu{
	display:block;
	width:940px;
	height:45px;
	margin:0 0 0 -715px;
	background:#8C53A0;
	text-align:center;
}
 #menu ul #menu_imprensa:hover .div_submenu ul{
	width:830px;
	text-align:center;
	margin-left:100px;
	height:40px;
}
 #menu ul #menu_imprensa:hover .div_submenu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #menu ul #menu_imprensa:hover .div_submenu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;;
}

 #menu ul #menu_area_medica{
	width:109px;
	height:56px;
}
 #menu ul #menu_area_medica a{
	display:block;
	height:45px;
	padding:11px 0 0 10px;
	color:#006CB7;
	}
 #menu ul #menu_area_medica:hover a{
	background:	#3596DA;
	color:#FFF;
	}
 #menu ul #menu_area_medica a .line_menu{
	height:3px;
	background:#3596DA;
	margin:5px 0;
	}
 #menu ul #menu_area_medica:hover .div_submenu{
	display:block;
	width:940px;
	height:45px;
	margin:0 0 0 -831px;
	background:#3596DA;
	text-align:center;
}
 #menu ul #menu_area_medica:hover .div_submenu ul{
	width:830px;
	text-align:center;
	margin-left:100px;
	height:40px;
}
 #menu ul #menu_area_medica:hover .div_submenu ul li{
	border:none;
	margin:10px 5px;	
	height:30px;	
}
 #menu ul #menu_area_medica:hover .div_submenu ul li a{
	background:none;
	color:#FFF;
	border:none;
	display:block;
	padding:10px 3px;;
}

#sub_menu{
	clear:both;
	height:45px;
	width:auto;
	background:#1E53A3;
	margin-top:-2px;
}



/*Conteudo*/
#conteudo{
	width:900px;
	margin:0 auto;
	background:#FFF;
	min-height:600px;
	padding:20px;
	border:solid 1px #efefef;
}


#rodape{
	width:940px;
	margin:0 auto;
	padding-top:20px;
	height:100px;
	clear:both;
}
#rodape #menu_footer{
	width:940px;
	height:40px;
	background:#FFF;
	border:solid 1px #efefef;
	color:#666;
	font-size:12px;
}
#rodape #menu_footer a{
	color:#666;
	text-decoration:none;
}
#rodape #menu_footer ul{
	width:700px;
	margin:7px auto;
}
#rodape #menu_footer ul li{
	list-style:none;
	float:left;
	margin:7px;
	}
#rodape #copyright{
	width:940px;
	height:20px;
	padding:25px 0;
	color:#2459A7;
	text-align:center;
}

#rodape #logo_footer{
	width:940px;
	height:46px;
	text-align:center;
}

#ContentPlaceHolder1_DataPager1{
	margin-top:20px;
	}
#ContentPlaceHolder1_DataPager1 span
{
    padding:7px 13px;
    border:solid 1px #3696da;
    font-family: 'Roboto', Arial, serif;
	font-weight:500;
	font-size:14px;
    }
    #ContentPlaceHolder1_DataPager1 a
{
    padding:7px 13px;
    background:#3696da;
    color:#fff;
    border:solid 1px #3696da;
    font-family: 'Roboto', Arial, serif;
	font-weight:500;
	font-size:14px;
    text-decoration:none;
    }
#todos
{
    padding:7px 13px;
    background:#3696da;
    color:#fff;
    border:solid 1px #3696da;
    font-family: 'Roboto', Arial, serif;
	font-weight:500;
	font-size:14px;
    text-decoration:none;
    }
.selectDefault{
	width:auto;
	height:30px;
	padding:0 10px;
	border: 1px solid #d2d2d2;
	font-family: 'Roboto', Arial, serif;
	font-weight:400;
	font-size:12px;
	color:#999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:url(../images/search.png) #fff no-repeat right;
}