<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <urlMappings></urlMappings>
    <sessionState timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="admincms/login.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <pages validateRequest="false" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <connectionStrings>
    <!--Conections string da maquina de desenvolvimento -->
    <!--
    <add name="db_rede_dorEntities" connectionString="metadata=res://*/App_Code.modelagem_portal.csdl|res://*/App_Code.modelagem_portal.ssdl|res://*/App_Code.modelagem_portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=db_rede_dor;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="db_rede_dorConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=db_rede_dor;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--Conections string do servidor de produção -->
    <!--<add name="db_rede_dorEntities" connectionString="metadata=res://*/App_Code.modelagem_portal.csdl|res://*/App_Code.modelagem_portal.ssdl|res://*/App_Code.modelagem_portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cloud383.hospedagem.w3br.com\REDEDOR;Network Library=DBMSSOCN;Initial Catalog=db_rede_dor;User ID=rededor2;Password=l9!ks83@&quot;" providerName="System.Data.EntityClient" />
    <add name="db_rede_dorConnectionString" connectionString="Data Source=cloud383.hospedagem.w3br.com\REDEDOR;Initial Catalog=db_rede_dor;Persist Security Info=True;User ID=rededor2;Password=l9!ks83@" providerName="System.Data.SqlClient"/>
  -->
    <!--<add name="db_rede_dorEntities" connectionString="metadata=res://*/App_Code.modelagem_portal.csdl|res://*/App_Code.modelagem_portal.ssdl|res://*/App_Code.modelagem_portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cloud383.hospedagem.w3br.com\REDEDOR;Network Library=DBMSSOCN;Initial Catalog=db_rede_dor;User ID=rededor2;Password=l9!ks83@&quot;" providerName="System.Data.EntityClient" />
    <add name="db_rede_dorConnectionString" connectionString="Data Source=cloud383.hospedagem.w3br.com\REDEDOR;Initial Catalog=db_rede_dor;Persist Security Info=True;User ID=rededor2;Password=l9!ks83@" providerName="System.Data.SqlClient" />-->
    <add name="db_rede_dorConnectionString" connectionString="Data Source=(local);Initial Catalog=db_rededor;Persist Security Info=True;User ID=sa;Password=" providerName="System.Data.SqlClient" />
    <add name="db_rede_dorEntities" connectionString="metadata=res://*/App_Code.modelagem_portal.csdl|res://*/App_Code.modelagem_portal.ssdl|res://*/App_Code.modelagem_portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=db_rededor;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailForm1" value="luciana.aguiar@rededor.com.br" />
    <add key="EmailForm2" value="luciana.aguiar@rededor.com.br" />
    <add key="EmailForm3" value="luciana.aguiar@rededor.com.br" />
    <add key="EmailForm4" value="luciana.aguiar@rededor.com.br" />
    <add key="EmailForm5" value="tluciana.aguiar@rededor.com.br" />
    <add key="EmailForm6" value="luciana.aguiar@rededor.com.br" />
    <add key="EmailEducacaoContinuada" value="luciana.aguiar@rededor.com.br" />
    <add key="EmailDemostrativoFinanceiro" value="luciana.aguiar@rededor.com.br" />
    <!-- STMP Configuracao -->
    <add key="stmpServer" value="smtp.office365.com" />
    <add key="smtpPorta" value="587" />
    <add key="smtpSsl" value="true" />
    <add key="smtpUser" value="fale.conosco@rededor.com.br" />
    <add key="smtpPassWord" value="r8uoqR4Ssl" />
    <add key="emailRemetente" value="fale.conosco@rededor.com.br" />
    <add key="df" value="6" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>