@charset "utf-8";
/* CSS Document */


* { padding:0px; margin:0px; border: none; list-style:none; outline:none; -moz-box-sizing: border-box; box-sizing: border-box;}

html, body {height:100%; width: 100%; position: relative;}
a { text-decoration: none;}
a:hover { text-decoration:none;}
b, strong { font-weight:bold;}
img { max-width: 100%}
input, select, textarea { text-transform: uppercase; font-size: 0.875em; font-family: 'Roboto', sans-serif; background: #fff;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {	border-collapse: collapse; border-spacing: 0;}

body { font-size:100%; font-family: 'Roboto', sans-serif; font-weight: 400; color:#4F4F4F; background: #fff; text-rendering: optimizeLegibility; overflow-x: hidden;}


/* GERAIS */
main { padding: 0; display: flex; flex-direction: column; justify-content: center;}

section.hero {width: 100%; height: 422px; margin: 0; }
.wrapper-hero { display: block; width: 90%; max-width: 1230px; margin: 0 auto; overflow: hidden; height: auto; position: relative; }
.breadcrumb { padding: 2% 0; color: #004186; font-weight: 500;}
.breadcrumb a.home { display: inline-block; width: 20px; height: 20px; text-indent: -9999em; background: url(../imgs/svg/ico-breadcrumb-home.svg) no-repeat left top; margin: 0 5px 0 0; vertical-align: text-bottom;}
.breadcrumb a { color: #004186; font-weight: 500; display: inline-block; }
.breadcrumb a:hover { text-decoration: underline; }
.breadcrumb span { color: #4F4F4F; font-weight: 500; display: inline-block;}
.wrapper-hero button { display: inline-block; width: 208px; height: 56px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin: 18px 25px 0 0; background: #CD4D9A; color: #fff; float: left; text-transform: uppercase; font-weight: 700; cursor: pointer;}

.button {
    display: inline-block;
    width: 208px;
    height: 56px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 18px 25px 0 0;
    background: #CD4D9A;
    color: #fff;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}


h1 { color: #4f4f4f; font-size: 2em; font-weight: 300; display: block; margin: 0 0 20px 0; max-width: 60%;}
h1::after {border-top: 2px solid #CD4D9A; width: 90px; height: 1px; display: block; content: ""; margin: 10px 0 0 0;}


::-webkit-input-placeholder { color: #BDBDBD;}
::-moz-placeholder { color: #BDBDBD;}
:-ms-input-placeholder { color: #BDBDBD;}



/* NASCEU NO HOSPITAL */
section.nasceu {background: #f2f2f2 url(../imgs/bg_busca_nasceu.jpg) no-repeat right top; background-size: auto 100%;}
section.nasceu input { display: inline-block; width: 287px; height: 56px; border-style: solid; border-width: 1px; border-color: #BDBDBD; -webkit-border-radius: 4px;  -moz-border-radius : 4px;border-radius: 4px; margin: 18px 20px 40px 0; padding: 5px; float: left; color: #004186; }
section.nasceu p { clear: both; width: 500px;}

.dados { float: left; width: 14%; color: #4F4F4F; }

ul.lista-fotos { float: left; width: 75%; margin: 0 0 0 5%; display: flex; justify-content: space-between; flex-direction: row; flex-wrap: wrap; }
ul.lista-fotos li { width: 42%; margin: 0 0 15px; }
ul.lista-fotos li a {display: block; position: relative;}
ul.lista-fotos li a::after { display: block; content: ""; width: 44px; height: 44px; background: url(../imgs/icon-zoom.png) no-repeat left top; position: absolute; right: 10px; bottom: 10px; }