<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <urlMappings></urlMappings>
    <sessionState timeout="60"></sessionState>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="admincms/login.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD,POST" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <clear/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RewriteModule" type="Connexion.HttpModule" />
    </httpModules>
    <globalization culture="PT-BR" uiCulture="PT-BR" />
  </system.web>
  <appSettings>
    <add key="EmailForm1" value="contato@hsl.com.br" />
    <add key="EmailForm2" value="contato@hsl.com.br" />
    <add key="EmailForm3" value="contato@hsl.com.br" />
    <add key="EmailForm4" value="contato@hsl.com.br" />
    <add key="EmailForm5" value="contato@hsl.com.br" />
    <add key="EmailForm6" value="contato@hsl.com.br" />
    <add key="EmailEducacaoContinuada" value="contato@hsl.com.br" />
    <add key="EmailDemostrativoFinanceiro" value="contato@hsl.com.br" />
    <!-- STMP Configuracao -->
   <add key="stmpServer" value="smtp.connexion.com.br"/>
    <add key="smtpPorta" value="587"/>
    <add key="smtpSsl" value="false"/>
    <add key="smtpUser" value="rededor@saoluizhospital.com.br"/>
    <add key="smtpPassWord" value="h37qWz5ajQ"/>
    <add key="emailRemetente" value="rededor@saoluizhospital.com.br"/>

    <!-- configuracao do email do formulario 8-->
    <add key="Titulo" value="Pré Agendamento Cirúrgico"/>
    <add key="mail_to" value="cirurgias@hsl.com.br"/>
    <add key="mail_from" value="rededor@saoluizhospital.com.br"/>
    <add key="logo" value="http://www.hsl.com.br/images/logo/santaluzia.png"/>
    <add key="smtp" value="smtp.connexion.com.br"/>
    <add key="port" value="587"/>
    <add key="EnableSsl" value="false"/>
    <add key="smpt_usuario" value="rededor@saoluizhospital.com.br"/>
    <add key="smpt_senha" value="h37qWz5ajQ"/>
    <add key="mail_subject" value="Pré Agendamento Cirúrgico - Site São Luzia - "/>
    <add key="form" value="http://http://www.hsl.com.br/form8.aspx"/>
    <add key="sair" value="http://http://www.hsl.com.br/"/>
  </appSettings>
  
  
  <connectionStrings>
    <add name="db_rede_dorConnectionString" connectionString="Data Source=cloud383.hospedagem.w3br.com\REDEDOR;Initial Catalog=hsl_com_br;Persist Security Info=True;User ID=hsl;Password=tg45432hjmn2%2" providerName="System.Data.SqlClient" />
    <add name="db_rede_dorEntities" connectionString="metadata=res://*/App_Code.modelagem_portal.csdl|res://*/App_Code.modelagem_portal.ssdl|res://*/App_Code.modelagem_portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud383.hospedagem.w3br.com\REDEDOR;Network Library=DBMSSOCN;initial catalog=hsl_com_br;persist security info=True;user id=hsl;password=tg45432hjmn2%2;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
     
 
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="RewriteModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RewriteModule" type="Connexion.HttpModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>