/* CSS Document */


#titulo_pag{display:none;}
#texto_pag{display:none;}
#btn_pag{display:none;}
#topo{display:none;}
#destaque_home{display:none;}
#menu_left{display:none;}
#rodape{display:none;}
.fotobb_ver{display:block;}
#tabela_fotos_small{display:none;}